

.about-me-card-cnt {
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-left: -20em;
    margin-top: -25em;
    background-image: linear-gradient(to bottom right);
    width: 40em;
    height: 50em;
    z-index: 100;
    border-radius: 3em;
    outline: 0.3em solid rgba(255, 255, 255, 0.6);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
    background: rgba(251, 251, 251, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    outline-offset: -0.5em;
    overflow: hidden;
    transition: top 0.65s;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.about-me-title {
    height: 3em;
    width: 12em;
    left: 10%;
    top: 15%;
    margin-left: -2em;
    margin-top: -5.5em;
    background-color: white;
    position: absolute;
    border-radius: 1.5em;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.about-me-title>p {
    line-height: 2em;
    position: relative;
    font-family: Poppins !important;
    font-weight: 900;
    font-style: bold;
    font-size: x-large;
    background: linear-gradient(to right,
            white 0%,
            rgba(0, 255, 212, 1) 12.5%,
            rgba(42, 140, 242, 1) 30%,
            rgba(0, 215, 255, 1) 60%,
            rgba(175, 132, 255, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 5s ease-in-out infinite;
    -moz-animation: animated_text 5s ease-in-out infinite;
    -webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.about-me-content {
    height: 35em;
    width: 25em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 40%;
    margin-top: -17.5em;
    margin-left: -12.5em;
    border-radius: 3em;
    box-shadow: 82px 72px 0px 0px rgba(87, 190, 245, 0.4);
    -webkit-box-shadow: 82px 72px 0px 0px rgba(87, 190, 245, 0.4);
    -moz-box-shadow: 82px 72px 0px 0px rgba(87, 190, 245, 0.4);
    text-align: center;
    padding-top: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.abtme-content-name {
    font-weight: 700;
    font-size: 3.2rem;
}

.abtme-content-name>span {
    background: linear-gradient(to right,
            rgb(31, 73, 210) 0%,
            rgba(42, 140, 242, 1) 30%,
            rgb(55, 138, 255) 60%,
            rgba(175, 132, 255, 1) 100%);
    background-size: 125% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-content>p {
    font-family: Poppins !important;
    line-height: 0.75em;
    scroll-behavior: smooth;
    letter-spacing: -0.1em;
    position: relative;
    font-weight: 700;
    margin-bottom: 0.05em;
    color: #0462c4;
    z-index: 1;
}

.abtme-content-nft {
    left: -33.5%;
    margin-bottom: 0.25em !important;
}

.abtme-content-manga {
    left: -28.5%;
    margin-bottom: 0.25em !important;
}

.abtme-content-3d {
    left: -38.5%;
    margin-bottom: 0.25em !important;
}

.abtme-content-developer {
    font-size: 3.7rem;
    font-weight: 900;
    left: -0.9em;
    margin-bottom: 5.5em !important;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.abtme-content-student {
    font-size: 3.7rem;
    font-weight: 900;
    left: -1.3em;
}

.abtme-content-dreamer {
    position: absolute;
    font-family: Poppins !important;
    line-height: 0.75em;
    scroll-behavior: smooth;
    letter-spacing: -0.1em;
    font-weight: 100;
    margin-bottom: 0.05em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4f7b;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 8.5em;
    top: 2em;
    left: 0.7em;
}

#about-me-close-btn {
    position: absolute;
    left: 90%;
    top: 7.5%;
    margin-left: -2em;
    margin-top: -2em;
    transform: translateZ(1000px);
    height: 4em;
    width: 4em;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 1.5em 0;
    border-width: 1.5px;
    transition: 0.25s ease;
    box-shadow: 0px 0px 30px 8px lightslategray;
}

#about-me-close-icon {
    transform: scale(3);
    color: lightslategray;
    transition: 0.25s ease;
}

#about-me-close-btn:hover>#about-me-close-icon {
    color: #ff4f7b;
}

#about-me-close-btn:hover {
    box-shadow: 0px 0px 5px 5px #ff4f7b;
}

.about-me-card-bottom-menu {
    width: 100%;
    border-radius: 0px 0px 0px 1.5em;
    height: 4em;
    position: relative;
    top: 92%;
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

.about-me-card-bottom-menu>li {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 1.5rem;
    list-style-type: none;
    margin-right: 0.75em;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-left: 0.3em;
    transition: all 0.2s ease-out;
}

.about-me-card-bottom-menu>li>img {
    position: relative;
    display: inline-block;
    width: 38.4px;
    height: 38.4px;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%) translateZ(30px);
    box-sizing: border-box;
}

.about-me-card-bottom-menu>li>span>a {
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    font-family: Poppins !important;
    margin-left: 0.8em;
    bottom: -0.2em;
    color: white;
    transition: all 0.1s ease-out;
    transform: translateZ(30px);
}

.about-me-card-bottom-menu>li#gmail>img {
    display: inline-block;
    border-radius: 0.7em;
    transform: scale(0.85) translate(0, -60%);
    filter: invert(70%);
}

.about-hover-me {
    position: absolute;

    height: 1.5em;
    width: 12em;
    bottom: 8.5%;
    left: 1.25em;
    border-radius: 1.5em;
}

.about-hover-me>b {
    font-weight: 700;
    word-spacing: -0.2em;
    color: #ff4f7b;
}

.about-hover-me>b>#about-point-down {
    transform: rotate(90deg);
    position: absolute;
    top: 10%;
    margin-left: 5%;
}

.about-me-card-bottom-menu>li:hover {
    width: 8rem;
}

span.hovered>a {
    bottom: 0.5em !important;
    color: transparent !important;
    transition: color 1.25s ease !important;
    background-image: linear-gradient(90deg,
            white 0%,
            rgba(0, 255, 212, 1) 12.5%,
            rgba(42, 140, 242, 1) 30%,
            rgba(0, 215, 255, 1) 60%,
            rgba(175, 132, 255, 1) 100%) !important;
    background-clip: text !important;
    background-size: 300% !important;
    background-position: -100%;
    animation: animatedText 3s infinite !important;
}

@keyframes animatedText {
    from {
        background-position: 0% !important;
    }

    to {
        background-position: 100% !important;
    }
}

.about-me-card-bottom-2 {
    width: 60em;
    height: 6em;
    position: fixed;
    top: 100%;
    transform: rotate(-20deg) translate(0%, -10%);
    background-color: white;
}

.about-closed {
    top: -50%;
}