/*
color: #ff4f7b;
color: #57bef5;
color: #0462c4;
color : white
*/

/* .rc-slider-track{
    background-color: #ff4f7b85 !important;
}
.rc-slider-rail{ 
    background-color: #57bef585 !important
} */
.mini-music-player-cnt>*{
    position: relative;
}
.mini-music-player-cnt{
    width: 26em;
    height: 5em;
    background-color: white;
    position: absolute;
    bottom: 3em;
    left: 1.5em;
    border-radius: 1em ;
    cursor: move;
    box-shadow: 0px 5px 20px 5px rgba(111, 111, 111, 0.25);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flexbox;
    flex-direction: row;
    padding-top: 0.75em;
    padding-left: 0.5em;
    overflow: visible;
    cursor: grab;
}
.mini-music-thumbnail{
    height: 3.5em;
    width: 3.5em;
    overflow: visible;
    border-radius: 0.5em;
    background-position: center;
    background-size: 180%;
    
}
/* 
<div className="mini-music-prev">a</div>
            <div className="mini-music-play">a</div>
            <div className="mini-music-next">a</div> */

.mini-music-prev{
    position: absolute;
    bottom: 1.6em;
    left: 6em;
    cursor: pointer !important;
}
.mini-music-play{
    position: absolute;
    bottom: 1.6em;
    left: 9.5em;
    cursor: pointer !important;
}

.mini-music-next{
    position: absolute;
    bottom: 1.6em;
    left: 13em;
    cursor: pointer !important;
}

.mini-music-title{
    position: absolute;
    bottom: 3.75em;
    white-space: nowrap;
    left: 4.9em;
    overflow: hidden;
    width: 23em;
    font-size: 0.9em;
}
.mini-music-title>p{
    animation: scroll-to-left 8s cubic-bezier(.29,.99,.75,.01) infinite;
}


@keyframes scroll-to-left {
    from {
        -moz-transform: translateX(-30em);
        -webkit-transform: translateX(-30em);
        transform: translateX(-30em);
    }

    to {
        -moz-transform: translateX(23em);
        -webkit-transform: translateX(23em);
        transform: translateX(23em);
    }
}

.mini-music-slider{
    bottom: 12.5%;
    left:6.5em;
}
.mini-music-currentTime{
    bottom: 1.55em;
    left: 3.7em;
}
.mini-music-duration{
    bottom: 1.55em;
    left: 19.5em;
}

.mini-music-volume{
    bottom: 4em;
    width: 40%;
    left: 14em;
}

.mini-music-volume > .rc-slider-rail{
    background-color: black !important;
    color: white;
    height: 2px;
}


.mini-music-volume > .rc-slider-track{
    background-color: black !important;
    color: white;
    height: 2px;
}

.mini-music-volume> .rc-slider-handle{
    background-color: black;
    border: solid 2px transparent !important;
    bottom: 10%;
}

.mini-music-volume> .rc-slider-handle-dragging{
    box-shadow: none !important;
    
}
.mini-music-volume-icon{
    bottom: 5em;
    left: 22.5em;
}

.mini-music-expand{
    bottom: 2em;
    font-size: 1em;
    left: 24.5em;
    position: absolute;
}

/* ------------------------------------------------------------- MEGA MUSIC */

.mega-music-cnt{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0%;
    left:0%;
    z-index: 9;
}
.mega-music-thumbnail{
    width: 75%;
    height: 70%;
    background-repeat: no-repeat ;
    position: absolute;
    transform: scale(1.55) ;
    right: 6.5%;
    top: 12.5%;
    
}

.mega-music-info-cnt{
    background: linear-gradient(90deg, #cadffa 50%, rgba(28,28,28,0.4) 31%, rgba(0,0,0,0) 100%);
    height: 130%;
    top: -5em;
    width: 100em;
    left: -10em;
    position: absolute;
    transform: rotate(-7.5deg);
    backdrop-filter: blur(5px) brightness(110%);
    
}
.mega-music-info-cnt-2{
    background-color:white;
    height: 120%;
    width: 5em;
    left: 30em;
    transform: rotate(5.5deg);
    position: absolute;
    
}



.mega-music-menu-btm-border{
    position: absolute;
    height: 2em;
    width: 30em;
    background-color: #cadffa;
    border-radius: 1em;
    bottom: 1em;
    left: 52.5%;
    margin-left: -10em;
    box-shadow: inset #ffffff73 -8px -8px 14px , inset rgba(94 , 104 ,140 ,.288) 8px 8px 14px;
    
}  
.mega-music-buttom-container{
    position: absolute;
    top: 0%;
    left: calc(50%);
    height: 100%;

}
.mega-music-main-btn-cnt{
    position: absolute;
    width: 20em;
    height: 20em;
    top: 25.5em;
    left: calc(85% - 14.5em);
}


.mega-play {
    position: relative;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    left: calc(50% - 2.5em);
    top: calc(50% - 2.5em);
    background-color: white;
    border: 2px #1C1C1C solid;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3);

}

.mega-play-btn{
    font-size: 3em;
    left: calc(30%);
    top: 0.285em;
    position: absolute;

}
.mega-playing{
    left: 0.35em !important;
}
.mega-pause{
    left: 0.3em !important;
}
.mega-player-main-body{
    width: 45em;
    height: 35%;
    position: absolute;
    background: #cadffa;
    left: calc(50% - 5em);
    margin-left: -30em;
    bottom: 7.5%;
    border-radius: 2em;
    
    border: 0.5px solid rgba(255,255,255,0.2);
    box-shadow:  #ffffff73 -3px -3px 7px ,  rgba(94 , 104 ,140 ,.288) 3px 3px 7px;

}


.swiper{
    left: calc(50% - 21.5em);
    top:50%;
    width: 12em;
    height: 13em;
    margin-top: -6.5em;
    overflow: visible !important
}
.swiper-slide{
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 1em;
}